<div>

<div class="">
    <div class="media">
        <div class="media-left">
            <h4><a class ="title link" href="/post/{{id}}"><p>{{restaurant_name}}</p></a></h4>
        </div>
        <br>
        <div class="media-content"></div>
        <div class="content subtitle">
            <p>{{restaurant_description}}</p>
        </div>
        <br>
        <div>
            <p>{{rating}}</p>
        </div>
    </div>
    <p class="content card-body">{{content}}</p>
</div>
 </div>
</div>
